sapidatabase-old/src/main/mule/implementations/post-user.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\users:application\json:sapi-database-config">
		<logger level="INFO" doc:name="Start Log" doc:id="518f9be8-480b-40bd-8680-47156174d2db" message="#[payload]"/>
		<db:insert doc:name="Insert User" doc:id="11dc80a6-77f4-42d1-8729-b4a373057cf3" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO Users (email, firstName, lastName, manager_id, street, city, dob, updated_at, initials) VALUES (:email, :firstName, :lastName, :manager_id, :street, :city, :dob, :updated_at, :initials)]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	email: payload.email,
	firstName: payload.firstName,
	lastName: payload.lastName,
	manager_id: payload.manager_id,
	street: payload.addrese.street,
	city: payload.addrese.city,
	dob: payload.dob as Date {format: "dd/MM/yyyy"} as Date {format: "yyyy-MM-dd"},
	updated_at: payload.updated_at,
	initials: payload.initials
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="44b16ec2-8f77-4e61-9888-deae2c3c787b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  Message: "User Successfully Created"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    
</flow>
	</mule>
